* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

html {
    background-color: #32343e;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 150px;
    background-color: 	#446b6a;
}

header>h1 {
    text-shadow: 0 0 4pt black;
    margin-left: 16pt;
}

header>* {
    margin: 8pt;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#login-form>*{
    margin: 1pt;
}

input {
    background-color: #3b464d;
    border-radius: 4pt;
    border: 1px solid #32343e;
    padding: 4pt;
}

button {
    background-color: #478d73;
    border: 1px solid rgb(0, 76, 0);
    border-radius: 4pt;
    padding: 4pt;
}

button:hover {
    background-color: #5ba95d;
}

button:disabled {
    background-color: #7c8d86;
    color: rgb(192, 192, 192);
}


#logged-in {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#logged-in>* {
    margin: 1pt;
}

nav {
    display: flex;
    width: 100%;
    background-color: #478d73;
}

.nav-button {
    font-size: larger;
    padding: 8pt;
    background-color: #478d73;
    border-radius: 0;
    border: none;
}

article {
    background-color: #404c54;
    display: flex;
    flex-direction: column;
}

/* home */

#mandelbrot-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1000px) {
    #mandelbrot-page {
        justify-content: space-between;
    }
}

#settings-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 32pt;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row>* {
    width: 100%;
    align-self: center;
}

#save-container {
    display: flex;
}

#save-container>* {
    width: 100%;
    margin: 1pt;
}

/* about */

#about-page {
    padding-left: 16pt;
    padding-right: 16pt;
}

/* users */

#users-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-card {
    padding: 8pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-card:nth-child(even) {
    background-color: #3b464d;
}

/* snapshots */

#snapshots-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.snapshot-card {
    padding: 8pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.snapshot-card>img {
    max-width: 300px;
    width: 100%;
    align-self: center;
}

.snapshot-card:nth-child(even) {
    background-color: #3b464d;
}