* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

html {
    background-color: #32343e;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    background-color: 	#446b6a;
}

header>h1 {
    text-shadow: 0 0 4pt black;
    margin-left: 16pt;
}

header>* {
    margin: 8pt;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#login-form>*{
    margin: 1pt;
}

input {
    background-color: #3b464d;
    border-radius: 4pt;
    border: 1px solid #32343e;
    padding: 4pt;
}

button {
    background-color: #478d73;
    border: 1px solid rgb(0, 76, 0);
    border-radius: 4pt;
    padding: 4pt;
}

button:hover {
    background-color: #5ba95d;
}

#logged-in {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#logged-in>* {
    margin: 1pt;
}

nav {
    display: flex;
    width: 100%;
    background-color: #478d73;
}

.nav-button {
    font-size: larger;
    padding: 8pt;
    background-color: #478d73;
    border-radius: 0;
    border: none;
}

article {
    background-color: #404c54;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* home */

#mandelbrot-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 32pt;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row>* {
    width: 100%;
    align-self: center;
}

#save-container {
    display: flex;
}

#save-container>* {
    width: 100%;
    margin: 1pt;
}

/* about */

#about-page {
    padding-left: 16pt;
    padding-right: 16pt;
}